@import "tailwindcss";

:root {
  --background: linear-gradient(135deg, #0A0F0D 0%, #2D4F4A 50%, #8DB1A4 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #0A0F0D 0%, #2D4F4A 50%, #8DB1A4 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
